<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gym1.mapper.ItemMapper">

    <insert id="addItem" parameterType="com.gym1.entity.Item">
        insert into item (info, itemName, price, image)
        values (#{info}, #{itemName}, #{price}, #{image})
    </insert>

    <select id="queryItemByName" resultType="com.gym1.entity.Item">
        select i.id, i.itemName, i.info, i.price, i.image
        from item i
        where i.itemName = #{itemName}
    </select>

    <select id="queryAllItem" resultType="com.gym1.entity.Item">
        select i.id, i.itemName, i.info, i.price, i.image
        from item i
    </select>


</mapper>
