<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gym1.mapper.OrderMapper">

    <insert id="addOrder" parameterType="com.gym1.entity.Order">
        insert into `order`(orderTime, venueStateId, userId)
        values (#{orderTime}, #{venueStateId}, #{userId})
    </insert>

    <select id="queryOrderByUserId" resultType="com.gym1.entity.Order">
        select o.id, o.orderTime, s.end, s.begin, v.name, v.address, v.price
        from `order` o left join venue_state s on o.venueStateId = s.id
        left join venue v
        on s.venueId = v.id
        where o.userId = #{id}
    </select>

    <select id="queryVenueIdByOrderId">
        select v.id
        from `order` o left join venue_state s on o.venueStateId = s.id
        left join venue v
        on s.venueId = v.id
        where o.id = #{orderId}
    </select>


</mapper>
