<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gms.cuit.mapper.VenueStateMapper">
    <select id="queryAllVenue" resultType="com.gym1.entity.VenueState">
        select *
        from venue_state
        where id=#{id}
          and before between #{now} and #{max}
    </select>
</mapper>
