<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gym1.mapper.VenueMapper">

    <select id="queryAllVenue" resultType="com.gym1.entity.Venue">
        select v.id, t.name typeName, t.introduction, v.name, v.address, v.price
        from venue_type t, venue v
        where t.id = v.type
    </select>

    <select id="queryVenueById" resultType="com.gym1.entity.Venue">
        select v.id, t.name typeName, t.introduction, v.name, v.address, v.price
        from venue_type t, venue v
        where t.id = v.type and v.id = #{venueId}
    </select>




</mapper>
