<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gym1.mapper.VenueStateMapper">

    <select id="queryVenueStateByIdDate" resultType="com.gym1.entity.VenueState">
        select *
        from venue_state
        where venueId=#{id}
          and begin between #{now} and #{max}
    </select>

    <select id="queryAllVenueState" resultType="com.gym1.entity.VenueState">
        select *
        from venue_state
    </select>

    <update id="updateVenueStateFree">
        UPDATE venue_state
        SET free = #{free}
        where id = #{id}
    </update>

    <update id="updateVenueStateOpen">
        UPDATE venue_state
        SET open = #{open}
        where id = #{id}
    </update>


</mapper>
